* {
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.rowContainer {
  margin-top: 20px;
}
.nav-item {
  /* margin: 0 10px; */
  cursor: pointer;
}
.cartFooter {
  display: none;
}

@media print {
  @page {
    size: A4;
    margin-top: 1cm;
    margin-bottom: 1cm;
    margin-left: 1cm;
    margin-right: 1cm;
  }
  Table {
    font-size: 10pt;
    line-height: 0.2rem;
  }
  .cartFooter {
    display: flex;
    font-size: 10pt;
    line-height: 0.2rem;
    justify-content: flex-end;
    padding-top: 10pt;
  }
}
.navbar-nav {
  flex-direction: row;
  justify-content: space-between;
}
a {
  text-decoration: none;
}
